{% extends "layout.html" %}

{% block title %}Giriş Yap / Kayıt Ol{% endblock %}

{% block content %}
<div class="form-container">
    <section class="content-card">
        <h2>Giriş Yap veya Hesap Oluştur</h2>
        <p class="subtitle">Sadece e-posta adresinizi girmeniz yeterli. Hesabınız yoksa sizin için otomatik olarak oluşturulacaktır.</p>
        <form method="POST">
            <div class="form-grup">
                <label for="email">E-posta Adresiniz</label>
                <input type="email" id="email" name="email" required placeholder="ornek@eposta.com">
            </div>
            <button type="submit">Devam Et</button>
        </form>
    </section>
</div>
{% endblock %}
